---
- name: Check if Master Token is available
  fail:
    msg: "The Master token was not found. Did the master role run successfully?"
  when: hostvars[groups['master'][0]]['k3s_token'] is not defined

- name: Install K3s Agent and Join Cluster
  shell: >
    curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['master'][0]]['master_ip'] }}:6443 
    K3S_TOKEN={{ hostvars[groups['master'][0]]['k3s_token'] }} 
    sh -
  args:
    creates: /usr/local/bin/k3s-agent
  environment:
    INSTALL_K3S_EXEC: "agent"